<div class="page__container t0M">
<!--  banner  -->
  <div class="banner__inner">
    <div class="banner__inner--viewport">
      <%= image_tag "honto-connect-banner.png", class: "banner-image" %>
    </div>
    <!--  スライダー下の丸ポチ*4  -->
    <div class="banner-pager">
      <div class="banner-pager__item">
      </div>
      <div class="banner-pager__item">
      </div>
      <div class="banner-pager__item">
      </div>
      <div class="banner-pager__item">
      </div>
    </div>
  </div><!--  /.banner  -->

<!--  about__container  -->
<div class="about__container t30M">
  <h2>ブクログとは</h2>

  <!--  説明文  -->
  <div class="description t30M">
    ブクログは、
    <span class="underline">本の感想や評価</span>
    をチェックしたり、
    <span class="underline">webアプリで本棚</span>
    をかんたんに作成し、
    <br>
    <span class="underline">感想やレビュー</span>
    を書いたり、
    <span class="underline">読書の管理・記録</span>
    をすることができます。
  </div>  <!--  /.説明文  -->

  <!--  ポイント  -->
  <div class="points">
    <!--  point1  -->
    <div class="point">
      <%= image_tag "shelf@2x.png", class: "point-image"; %>
      <span class="title t40M">本棚</span>
      <p class="description t10M">自分のお気に入りの本をウェブ上の本棚に登録できます。本棚のデザインを自分好みに設定できます。</p>
    </div><!--  /.point1  -->

    <!--  point2  -->
    <div class="point">
      <%= image_tag "pencil@2x.png", class: "point-image"; %>
      <span class="title t40M">充実した
      <br>
      感想・レビュー
      </span>
      <p class="description t10M">たくさんいる読書家さん達の、素敵な感想・レビューを見ることができます！とても参考になります。</p>
    </div><!--  /.point2  -->

    <!--  point3  -->
    <div class="point">
      <%= image_tag "new@2x.png", class: "point-image"; %>
      <span class="title t40M">新刊情報</span>
      <p class="description t10M">これから発売される最新の本、文庫、新書、漫画の新刊情報をチェックできます。</p>
    </div><!--  /.point3  -->

    <!--  point4  -->
    <div class="point">
      <%= image_tag "folder@2x.png", class: "point-image"; %>
      <span class="title t40M">読書管理</span>
      <p class="description t10M">自分の読書状況を設定して、本棚登録することができます。読書メモ、読書グラフ、読書目標機能もあります。</p>
    </div><!--  /.point4  -->

    <!--  point5  -->
    <div class="point">
      <%= image_tag "timeline@2x.png", class: "point-image"; %>
      <span class="title t40M">タイムライン</span>
      <p class="description t10M">自分やお友達のアクティビティを確認できます！</p>
    </div><!--  /.point5  -->
  </div><!--  points  -->
  <!--  about-button  -->
  <div class="about-button t30M">
    <a href="#">ブクログについて
      <div class="right-triangle"></div>
    </a>
  </div><!--  /.about-button  -->
</div><!--  /.about__container  -->
<!--  ボーダーライン  -->
<div class="page-border t20M"></div>

<!--  pickup  -->
<div class="pickup__container t30M">
  <h3 class="t30M">ブクログピックアップ</h3>
  <div class="carousel__wrapper t15M">
    <div class="carousel__container" id="pickup">
      <!-- left-arrow-pickup  -->
      <div id="left-arrow-pickup" class="arrow left">
        <%= image_tag "arrow-left-disable.png", class: "left-arrow" %>
      </div><!-- /.left-arrow-pickup  -->
      <!--  items  -->
      <div class="items">
        <!--  item0  -->
        <div class="item" id="0">
          <div class="catchcopy__wrapper b10M">
            <!--  catchcopy  -->
            <div class="catchcopy">
              「逃げ恥」コミック
              <br>
                続編連載開始！
            </div><!--  /.catchcopy  -->
          </div><!--  /.catchcopy__wrapper  -->
          <a href="#">
            <div class="image">
              <%= image_tag "book0.jpg", class: "book-image" %>
            </div>
          </a>
          <!--  作品タイトル  -->
          <a href="#">
            <div class="title t10M">
              逃げるは恥だが役に立つ(1) (KC K...
            </div>
          </a><!--  /.作品タイトル  -->
          <!--  著者  -->
          <div class="author t5M taL">
            <a href="#">海野つなみ</a>
          </div><!--  /.著者  -->
          <div class="t5M taL">
            <span class="description">
            海野つなみさんの『逃げるは恥だが役に立つ』が1月25日発売の『Kiss3月号』から連載再開！
            </span>
          </div>
        </div><!--  /.item0  -->

        <!--  item1  -->
        <div class="item" id="1">
          <div class="catchcopy__wrapper b10M">
            <!--  catchcopy  -->
            <div class="catchcopy">
              「逃げ恥」コミック
              <br>
                続編連載開始！
            </div><!--  /.catchcopy  -->
          </div><!--  /.catchcopy__wrapper  -->
          <a href="#">
            <div class="image">
              <%= image_tag "book1.jpg", class: "book-image" %>
            </div>
          </a>
          <!--  作品タイトル  -->
          <a href="#">
            <div class="title t10M">
              逃げるは恥だが役に立つ(1) (KC K...
            </div>
          </a><!--  /.作品タイトル  -->
          <!--  著者  -->
          <div class="author t5M taL">
            <a href="#">海野つなみ</a>
          </div><!--  /.著者  -->
          <div class="t5M taL">
            <span class="description">
            海野つなみさんの『逃げるは恥だが役に立つ』が1月25日発売の『Kiss3月号』から連載再開！
            </span>
          </div>
        </div><!--  /.item1  -->

        <!--  item2  -->
        <div class="item" id="2">
          <div class="catchcopy__wrapper b10M">
            <!--  catchcopy  -->
            <div class="catchcopy">
              「逃げ恥」コミック
              <br>
                続編連載開始！
            </div><!--  /.catchcopy  -->
          </div><!--  /.catchcopy__wrapper  -->
          <a href="#">
            <div class="image">
              <%= image_tag "book2.jpg", class: "book-image" %>
            </div>
          </a>
          <!--  作品タイトル  -->
          <a href="#">
            <div class="title t10M">
              逃げるは恥だが役に立つ(1) (KC K...
            </div>
          </a><!--  /.作品タイトル  -->
          <!--  著者  -->
          <div class="author t5M taL">
            <a href="#">海野つなみ</a>
          </div><!--  /.著者  -->
          <div class="t5M taL">
            <span class="description">
            海野つなみさんの『逃げるは恥だが役に立つ』が1月25日発売の『Kiss3月号』から連載再開！
            </span>
          </div>
        </div><!--  /.item2  -->

        <!--  item3  -->
        <div class="item" id="3">
          <div class="catchcopy__wrapper b10M">
            <!--  catchcopy  -->
            <div class="catchcopy">
              「逃げ恥」コミック
              <br>
                続編連載開始！
            </div><!--  /.catchcopy  -->
          </div><!--  /.catchcopy__wrapper  -->
          <a href="#">
            <div class="image">
              <%= image_tag "book3.jpg", class: "book-image" %>
            </div>
          </a>
          <!--  作品タイトル  -->
          <a href="#">
            <div class="title t10M">
              逃げるは恥だが役に立つ(1) (KC K...
            </div>
          </a><!--  /.作品タイトル  -->
          <!--  著者  -->
          <div class="author t5M taL">
            <a href="#">海野つなみ</a>
          </div><!--  /.著者  -->
          <div class="t5M taL">
            <span class="description">
            海野つなみさんの『逃げるは恥だが役に立つ』が1月25日発売の『Kiss3月号』から連載再開！
            </span>
          </div>
        </div><!--  /.item3  -->

        <!--  item4  -->
        <div class="item" id="4">
          <div class="catchcopy__wrapper b10M">
            <!--  catchcopy  -->
            <div class="catchcopy">
              「逃げ恥」コミック
              <br>
                続編連載開始！
            </div><!--  /.catchcopy  -->
          </div><!--  /.catchcopy__wrapper  -->
          <a href="#">
            <div class="image">
              <%= image_tag "book4.jpg", class: "book-image" %>
            </div>
          </a>
          <!--  作品タイトル  -->
          <a href="#">
            <div class="title t10M">
              逃げるは恥だが役に立つ(1) (KC K...
            </div>
          </a><!--  /.作品タイトル  -->
          <!--  著者  -->
          <div class="author t5M taL">
            <a href="#">海野つなみ</a>
          </div><!--  /.著者  -->
          <div class="t5M taL">
            <span class="description t5M">
            海野つなみさんの『逃げるは恥だが役に立つ』が1月25日発売の『Kiss3月号』から連載再開！
            </span>
          </div>
        </div><!--  /.item4  -->

        <!--  item5  -->
        <div class="item" id="5">
          <div class="catchcopy__wrapper b10M">
            <!--  catchcopy  -->
            <div class="catchcopy">
              「逃げ恥」コミック
              <br>
                続編連載開始！
            </div><!--  /.catchcopy  -->
          </div><!--  /.catchcopy__wrapper  -->
          <a href="#">
            <div class="image">
              <%= image_tag "book5.jpg", class: "book-image" %>
            </div>
          </a>
          <!--  作品タイトル  -->
          <a href="#">
            <div class="title t10M">
              逃げるは恥だが役に立つ(1) (KC K...
            </div>
          </a><!--  /.作品タイトル  -->
          <!--  著者  -->
          <div class="author t5M taL">
            <a href="#">海野つなみ</a>
          </div><!--  /.著者  -->
          <div class="t5M taL">
            <span class="description">
            海野つなみさんの『逃げるは恥だが役に立つ』が1月25日発売の『Kiss3月号』から連載再開！
            </span>
          </div>
        </div><!--  /.item5  -->

        <!--  item6  -->
        <div class="item" id="6">
          <div class="catchcopy__wrapper b10M">
            <!--  catchcopy  -->
            <div class="catchcopy">
              「逃げ恥」コミック
              <br>
                続編連載開始！
            </div><!--  /.catchcopy  -->
          </div><!--  /.catchcopy__wrapper  -->
          <a href="#">
            <div class="image">
              <%= image_tag "book6.jpg", class: "book-image" %>
            </div>
          </a>
          <!--  作品タイトル  -->
          <a href="#">
            <div class="title t10M">
              逃げるは恥だが役に立つ(1) (KC K...
            </div>
          </a><!--  /.作品タイトル  -->
          <!--  著者  -->
          <div class="author t5M taL">
            <a href="#">海野つなみ</a>
          </div>
          <div class="t5M taL">
            <span class="description">
            海野つなみさんの『逃げるは恥だが役に立つ』が1月25日発売の『Kiss3月号』から連載再開！
            </span>
          </div>
        </div><!--  /.item6  -->

      </div><!--  /.items  -->
      <!-- right-arrow-pickup  -->
      <div id="right-arrow-pickup" class="arrow right">
        <%= image_tag "arrow-right-enable.png", class: "right-arrow" %>
      </div><!-- /.right-arrow-pickup  -->
    </div><!--  /.carousel__container  -->
  </div><!--  /.carousel__wrapper  -->
</div><!--  /.pickup__container  -->
<div class="border t30M"></div>

<!--  main  -->
<div class="main__wrapper">
  <main>
    <!--  新刊ニュース  -->
    <div class="release t30M">
      <h3>新刊ニュース</h3>
      <!--  本のgenre-head  -->
      <div class="genre-head t20M">
        <h4>本</h4>
        <div class="more">
          <a href="#" class="more">もっとみる<div class="right-triangle"></div>
          </a>
        </div>
      </div><!--  /.本のgenre-head  -->
      <div class="carousel-wrapper t15M">
        <div class="carousel__container" id="release-books">
          <div id="left-arrow-release-books" class="arrow left">
            <%= image_tag "arrow-left-disable.png", class: "left-arrow" %>
          </div>
          <!--  items  -->
          <div class="items">
            <!--  item0  -->
            <div class="item" id="0">
              <div class="release-date-wrap b10M">
                <span class="release-date">1/25 発売</span>
              </div>
              <a href="#">
                <div class="image">
                  <%= image_tag "book7.jpg", class: "book-image" %>
                </div>
              </a>
              <a href="#">
                <div class="title t5M">第160回芥川賞受賞 1R1...</div>
              </a>
              <div class="author t5M">
                <a href="#">町屋良平</a>
              </div>
            </div><!--  /.item0  -->

            <!--  item1  -->
            <div class="item" id="1">
              <div class="release-date-wrap b10M">
                <span class="release-date">1/25 発売</span>
              </div>
              <a href="#">
                <div class="image">
                  <%= image_tag "book8.jpg", class: "book-image" %>
                </div>
              </a>
              <a href="#">
                <div class="title t5M">第160回芥川賞受賞 1R1...</div>
              </a>
              <div class="author t5M">
                <a href="#">町屋良平</a>
              </div>
            </div><!--  /.item1  -->

            <!--  item2  -->
            <div class="item" id="2">
              <div class="release-date-wrap b10M">
                <span class="release-date">1/25 発売</span>
              </div>
              <a href="#">
                <div class="image">
                  <%= image_tag "book9.jpg", class: "book-image" %>
                </div>
              </a>
              <a href="#">
                <div class="title t5M">第160回芥川賞受賞 1R1...</div>
              </a>
              <div class="author t5M">
                <a href="#">町屋良平</a>
              </div>
            </div><!--  /.item2  -->

            <!--  item3  -->
            <div class="item" id="3">
              <div class="release-date-wrap b10M">
                <span class="release-date">1/25 発売</span>
              </div>
              <a href="#">
                <div class="image">
                  <%= image_tag "book10.jpg", class: "book-image" %>
                </div>
              </a>
              <a href="#">
                <div class="title t5M">第160回芥川賞受賞 1R1...</div>
              </a>
              <div class="author t5M">
                <a href="#">町屋良平</a>
              </div>
            </div><!--  /.item3  -->

            <!--  item4  -->
            <div class="item" id="4">
              <div class="release-date-wrap b10M">
                <span class="release-date">1/25 発売</span>
              </div>
              <a href="#">
                <div class="image">
                  <%= image_tag "book11.jpg", class: "book-image" %>
                </div>
              </a>
              <a href="#">
                <div class="title t5M">第160回芥川賞受賞 1R1...</div>
              </a>
              <div class="author t5M">
                <a href="#">町屋良平</a>
              </div>
            </div><!--  /.item4  -->
          </div><!--  /.items  -->
          <div id="right-arrow-release-books" class="arrow right">
            <%= image_tag "arrow-right-enable.png", class: "right-arrow" %>
          </div>
        </div>
      </div><!--  /.本のcarousel  -->

      <!--  マンガのgenre-head  -->
      <div class="genre-head t20M">
        <h4>マンガ</h4>
        <div class="more">
          <a href="#" class="more">もっとみる
            <div class="right-triangle"></div>
          </a>
        </div>
      </div><!--  /.マンガのgenre-head  -->
      <div class="carousel-wrapper t15M">
        <div class="carousel__container" id="release-comic">
          <div id="left-arrow-release-comic" class="arrow left">
            <%= image_tag "arrow-left-disable.png", class: "left-arrow" %>
          </div>
          <!--  items  -->
          <div class="items">
            <!--  item0  -->
            <div class="item" id="0">
              <div class="release-date-wrap b10M">
                <span class="release-date">1/26 発売</span>
              </div>
              <a href="#">
                <div class="image">
                  <%= image_tag "book12.jpg", class: "book-image" %>
                </div>
              </a>
              <a href="#">
                <div class="title t5M">GOHOマフィア!梶田くん1...</div>
              </a>
              <div class="author t5M">
                <a href="#">大川ぶくぶ</a>
              </div>
            </div><!--  /.item0  -->

            <!--  item1  -->
            <div class="item" id="1">
              <div class="release-date-wrap b10M">
                <span class="release-date">1/26 発売</span>
              </div>
              <a href="#">
                <div class="image">
                  <%= image_tag "book13.jpg", class: "book-image" %>
                </div>
              </a>
              <a href="#">
                <div class="title t5M">GOHOマフィア!梶田くん1...</div>
              </a>
              <div class="author t5M">
                <a href="#">大川ぶくぶ</a>
              </div>
            </div><!--  /.item1  -->

            <!--  item2  -->
            <div class="item" id="2">
              <div class="release-date-wrap b10M">
                <span class="release-date">1/26 発売</span>
              </div>
              <a href="#">
                <div class="image">
                  <%= image_tag "book14.jpg", class: "book-image" %>
                </div>
              </a>
              <a href="#">
                <div class="title t5M">GOHOマフィア!梶田くん1...</div>
              </a>
              <div class="author t5M">
                <a href="#">大川ぶくぶ</a>
              </div>
            </div><!--  /.item2  -->

            <!--  item3  -->
            <div class="item" id="3">
              <div class="release-date-wrap b10M">
                <span class="release-date">1/26 発売</span>
              </div>
              <a href="#">
                <div class="image">
                  <%= image_tag "book15.jpg", class: "book-image" %>
                </div>
              </a>
              <a href="#">
                <div class="title t5M">GOHOマフィア!梶田くん1...</div>
              </a>
              <div class="author t5M">
                <a href="#">大川ぶくぶ</a>
              </div>
            </div><!--  /.item3  -->

            <!--  item4  -->
            <div class="item" id="4">
              <div class="release-date-wrap b10M">
                <span class="release-date">1/26 発売</span>
              </div>
              <a href="#">
                <div class="image">
                  <%= image_tag "book16.jpg", class: "book-image" %>
                </div>
              </a>
              <a href="#">
                <div class="title t5M">GOHOマフィア!梶田くん1...</div>
              </a>
              <div class="author t5M">
                <a href="#">大川ぶくぶ</a>
              </div>
            </div><!--  /.item4  -->
          </div><!--  /.items  -->
          <div id="right-arrow-release-comic" class="arrow right">
            <%= image_tag "arrow-right-enable.png", class: "right-arrow" %>
          </div>
        </div>
      </div><!--  /.マンガのcarousel  -->
    </div><!--  /.新刊ニュース  -->

    <div class="border t30M"></div>

    <!--  ランキング  -->
    <div class="ranking t30M">
      <h3>デイリーランキング</h3>
      <!--  本のgenre-head  -->
      <div class="genre-head t20M">
        <h4>本</h4>
        <div class="more">
          <a href="#" class="more">もっとみる
            <div class="right-triangle"></div>
          </a>
        </div>
      </div><!--  /.本のgenre-head  -->
      <div class="carousel-wrapper t15M">
        <div class="carousel__container" id="ranking-books">
          <div id="left-arrow-ranking-books" class="arrow left">
            <%= image_tag "arrow-left-disable.png", class: "left-arrow" %>
          </div>
          <!--  items  -->
          <div class="items">
            <!--  item0  -->
            <div class="item" id="0">
              <a href="#">
                <div class="image t10P l10P">
                  <%= image_tag "book17.jpg", class: "book-image" %>
                  <%= image_tag "ranking1.png", class: "ribbon" %>
                  <span>1</span>
                </div>
              </a>
              <a href="#">
                <div class="title t5M l10P">ひと</div>
              </a>
              <div class="author t5M l10P">
                <a href="#">小野寺史宣</a>
              </div>
              <div class="aggregate">
                <%= image_tag "user.png", class: "user_png" %>
                <span class="users">366</span>
                <%= image_tag "star.png", class: "star_png l5M" %>
                <span class="rating">3.80</span>
              </div>
            </div><!--  /.item0  -->

            <!--  item1  -->
            <div class="item" id="1">
              <a href="#">
                <div class="image t10P l10P">
                  <%= image_tag "book18.jpg", class: "book-image" %>
                  <%= image_tag "ranking2.png", class: "ribbon" %>
                  <span>2</span>
                </div>
              </a>
              <a href="#">
                <div class="title t5M l10P">ひと</div>
              </a>
              <div class="author t5M l10P">
                <a href="#">小野寺史宣</a>
              </div>
              <div class="aggregate">
                <%= image_tag "user.png", class: "user_png" %>
                <span class="users">366</span>
                <%= image_tag "star.png", class: "star_png l5M" %>
                <span class="rating">3.80</span>
              </div>
            </div><!--  /.item1  -->

            <!--  item2  -->
            <div class="item" id="2">
              <a href="#">
                <div class="image t10P l10P">
                  <%= image_tag "book19.jpg", class: "book-image" %>
                        <%= image_tag "ranking3.png", class: "ribbon" %>
                  <span>3</span>
                </div>
              </a>
              <a href="#">
                <div class="title t5M l10P">ひと</div>
              </a>
              <div class="author t5M l10P">
                <a href="#">小野寺史宣</a>
              </div>
              <div class="aggregate">
                <%= image_tag "user.png", class: "user_png" %>
                <span class="users">366</span>
                <%= image_tag "star.png", class: "star_png l5M" %>
                <span class="rating">3.80</span>
              </div>
            </div><!--  /.item2  -->

            <!--  item3  -->
            <div class="item" id="3">
              <a href="#">
                <div class="image t10P l10P">
                  <%= image_tag "book20.jpg", class: "book-image" %>
                        <%= image_tag "ranking.png", class: "ribbon" %>
                  <span>4</span>
                </div>
              </a>
              <a href="#">
                <div class="title t5M l10P">ひと</div>
              </a>
              <div class="author t5M l10P">
                <a href="#">小野寺史宣</a>
              </div>
              <div class="aggregate">
                <%= image_tag "user.png", class: "user_png" %>
                <span class="users">366</span>
                <%= image_tag "star.png", class: "star_png l5M" %>
                <span class="rating">3.80</span>
              </div>
            </div><!--  /.item3  -->

            <!--  item4  -->
            <div class="item" id="4">
              <a href="#">
                <div class="image t10P l10P">
                  <%= image_tag "book21.jpg", class: "book-image" %>
                        <%= image_tag "ranking.png", class: "ribbon" %>
                  <span>5</span>
                </div>
              </a>
              <a href="#">
                <div class="title t5M l10P">ひと</div>
              </a>
              <div class="author t5M l10P">
                <a href="#">小野寺史宣</a>
              </div>
              <div class="aggregate">
                <%= image_tag "user.png", class: "user_png" %>
                <span class="users">366</span>
                <%= image_tag "star.png", class: "star_png l5M" %>
                <span class="rating">3.80</span>
              </div>
            </div><!--  /.item4  -->
          </div><!--  /.items  -->
          <div id="right-arrow-ranking-books" class="arrow right">
            <%= image_tag "arrow-right-enable.png", class: "right-arrow" %>
          </div>
        </div>

      <!--  マンガのgenre-head  -->
      <div class="genre-head t40M">
        <h4>マンガ</h4>
        <div class="more">
          <a href="#" class="more">もっとみる
            <div class="right-triangle"></div>
          </a>
        </div>
      </div><!--  /.マンガのgenre-head  -->
      <div class="carousel-wrapper t15M">
        <div class="carousel__container" id="ranking-comics">
          <div id="left-arrow-ranking-comics" class="arrow left">
            <%= image_tag "arrow-left-disable.png", class: "left-arrow" %>
          </div>
          <!--  items  -->
          <div class="items">
            <!--  item0  -->
            <div class="item" id="0">
              <a href="#">
                <div class="image t10P l10P">
                  <%= image_tag "book22.jpg", class: "book-image" %>
                  <%= image_tag "ranking1.png", class: "ribbon" %>
                  <span>1</span>
                </div>
              </a>
              <a href="#">
                <div class="title t5M l10P">幼女戦記（12）（角川コ...</div>
              </a>
              <div class="author t5M l10P">
                <a href="#">東條チカ</a>
              </div>
              <div class="aggregate">
                <%= image_tag "user.png", class: "user_png" %>
                <span class="users">41</span>
                <%= image_tag "star.png", class: "star_png l5M" %>
                <span class="rating">3.00</span>
              </div>
            </div><!--  /.item0  -->

            <!--  item1  -->
            <div class="item" id="1">
              <a href="#">
                <div class="image t10P l10P">
                  <%= image_tag "book23.jpg", class: "book-image" %>
                  <%= image_tag "ranking2.png", class: "ribbon" %>
                  <span>2</span>
                </div>
              </a>
              <a href="#">
                <div class="title t5M l10P">幼女戦記（12）（角川コ...</div>
              </a>
              <div class="author t5M l10P">
                <a href="#">東條チカ</a>
              </div>
              <div class="aggregate">
                <%= image_tag "user.png", class: "user_png" %>
                <span class="users">41</span>
                <%= image_tag "star.png", class: "star_png l5M" %>
                <span class="rating">3.00</span>
              </div>
            </div><!--  /.item1  -->

            <!--  item2  -->
            <div class="item" id="2">
              <a href="#">
                <div class="image t10P l10P">
                  <%= image_tag "book24.jpg", class: "book-image" %>
                  <%= image_tag "ranking3.png", class: "ribbon" %>
                  <span>3</span>
                </div>
              </a>
              <a href="#">
                <div class="title t5M l10P">幼女戦記（12）（角川コ...</div>
              </a>
              <div class="author t5M l10P">
                <a href="#">東條チカ</a>
              </div>
              <div class="aggregate">
                <%= image_tag "user.png", class: "user_png" %>
                <span class="users">41</span>
                <%= image_tag "star.png", class: "star_png l5M" %>
                <span class="rating">3.00</span>
              </div>
            </div><!--  /.item2  -->

            <!--  item3  -->
            <div class="item" id="3">
              <a href="#">
                <div class="image t10P l10P">
                  <%= image_tag "book25.jpg", class: "book-image" %>
                  <%= image_tag "ranking.png", class: "ribbon" %>
                  <span>4</span>
                </div>
              </a>
              <a href="#">
                <div class="title t5M l10P">幼女戦記（12）（角川コ...</div>
              </a>
              <div class="author t5M l10P">
                <a href="#">東條チカ</a>
              </div>
              <div class="aggregate">
                <%= image_tag "user.png", class: "user_png" %>
                <span class="users">41</span>
                <%= image_tag "star.png", class: "star_png l5M" %>
                <span class="rating">3.00</span>
              </div>
            </div><!--  /.item3  -->

            <!--  item4  -->
            <div class="item" id="4">
              <a href="#">
                <div class="image t10P l10P">
                  <%= image_tag "book26.jpg", class: "book-image" %>
                  <%= image_tag "ranking.png", class: "ribbon" %>
                  <span>5</span>
                </div>
              </a>
              <a href="#">
                <div class="title t5M l10P">幼女戦記（12）（角川コ...</div>
              </a>
              <div class="author t5M l10P">
                <a href="#">東條チカ</a>
              </div>
              <div class="aggregate">
                <%= image_tag "user.png", class: "user_png" %>
                <span class="users">41</span>
                <%= image_tag "star.png", class: "star_png l5M" %>
                <span class="rating">3.00</span>
              </div>
            </div><!--  /.item4  -->
          </div><!--  /.items  -->
          <div id="right-arrow-ranking-comics" class="arrow right">
            <%= image_tag "arrow-right-enable.png", class: "right-arrow" %>
          </div>
        </div><!--  /.carousel__container  -->
      </div><!--  /.carousel__wrapper  -->
    </div><!--  ranking  -->

    <div class="border t30M"></div>
    <!--  お知らせ  -->
    <div class="info-booklog-jp t30M">
      <h2>お知らせ</h2>
      <div class="entries t30M">
        <div class="entry b20M">
          <span class="date">2019.01.08</span>
          <span class="subject">障害・メンテナンス</span>
          <a href="#">
            <span class="title">通知設定が正常に機能しない件につきまして</span>
          </a>
        </div><!--  /.entry  -->

        <div class="entry b20M">
          <span class="date">2019.01.08</span>
          <span class="subject">障害・メンテナンス</span>
          <a href="#">
            <span class="title">通知設定が正常に機能しない件につきまして</span>
          </a>
        </div><!--  /.entry  -->

        <div class="entry b20M">
          <span class="date">2019.01.08</span>
          <span class="subject">障害・メンテナンス</span>
          <a href="#">
            <span class="title">通知設定が正常に機能しない件につきまして</span>
          </a>
        </div><!--  /.entry  -->

      </div><!--  /.entries -->
    </div><!--  /.お知らせ  -->
  </main><!--  /.main  -->

  <!--  サイドバー  -->
  <div class="side">
    <!--  始めよう  -->
    <div class="lets t30M t20P b20P">
      <div class="title">ブクログをはじめよう</div>
      <a href="#">
        <div class="t20M mail">メールアドレスで新規登録</div>
      </a>
      <div class="t15M or">または</div>
      <a href="#">
        <div class="t15M facebook">
          <i class="fab fa-facebook-square">
          </i>
          Facebookで新規登録
        </div>
      </a>
      <a href="#">
        <div class="t10M twitter">
          <i class="fab fa-twitter">
          </i>
          Twitterで新規登録
        </div>
      </a>
      <a href="#">
        <div class="t10M honto">
          <%= image_tag "honto-logo.png", class: "honto-logo" %>
          hontoで新規登録
        </div>
      </a>
    </div><!--  /.始めよう  -->

    <div class="first t20M">
      <a href="#">
        <%= image_tag "first-banner.png" %>
      </a>
    </div>

    <div class="border t20M"></div>

    <!--  ブクログ通信  -->
    <div class="hon-booklog-jp t30M b30M">
      <div class="logo">
        <%= image_tag "bukutsu-logo.png" %>
      </div>
      <div class="contents">
        <a href="#" class="content">
          <div class="thumbnail">
            <%= image_tag "tn1.jpg", class: "tn" %>
          </div>
          <div class="description">
            <div class="title">
            愛のエネルギーによって日本がミサイルから救われる…？『金剛さんは面倒臭い』が急...
            </div>
            <div class="date">2019年1月24日</div>
          </div>
        </a>

        <a href="#" class="content">
          <div class="thumbnail">
            <%= image_tag "tn2.jpg", class: "tn" %>
          </div>
          <div class="description">
            <div class="title">
            愛のエネルギーによって日本がミサイルから救われる…？『金剛さんは面倒臭い』が急...
            </div>
            <div class="date">2019年1月24日</div>
          </div>
        </a>

        <a href="#" class="content">
          <div class="thumbnail">
            <%= image_tag "tn3.jpg", class: "tn" %>
          </div>
          <div class="description">
            <div class="title">
            愛のエネルギーによって日本がミサイルから救われる…？『金剛さんは面倒臭い』が急...
            </div>
            <div class="date">2019年1月24日</div>
          </div>
        </a>

        <a href="#" class="content">
          <div class="thumbnail">
            <%= image_tag "tn4.png", class: "tn" %>
          </div>
          <div class="description">
            <div class="title">
            愛のエネルギーによって日本がミサイルから救われる…？『金剛さんは面倒臭い』が急...
            </div>
            <div class="date">2019年1月24日</div>
          </div>
        </a>

        <a href="#" class="content">
          <div class="thumbnail">
            <%= image_tag "tn5.jpg", class: "tn" %>
          </div>
          <div class="description">
            <div class="title">
            愛のエネルギーによって日本がミサイルから救われる…？『金剛さんは面倒臭い』が急...
            </div>
            <div class="date">2019年1月24日</div>
          </div>
        </a>

      </div>
    </div><!--  ブクログ通信  -->

    <div class="border"></div>

    <div class="twitter-widget t20M">
      <%= image_tag "booklog-tweet.png" %>
    </div>

    <div class="booklog-iphone-app t20M">
      <a href="#">
        <%= image_tag "pc_app_banner.png" %>
      </a>
    </div>
    <div class="booklog-honto t20M">
      <a href="#">
        <%= image_tag "side-banner-honto-may.png" %>
      </a>
    </div>
  </div><!--  /.サイドバー  -->
</div><!--  /.main__wrapper  -->
<!--  広告  -->
<aside class="ad-footer">
  <a href="#">
    <%= image_tag "ad.png" %>
  </a>
</aside><!--  /.広告  -->
</div><!--  /.page__container  -->
