<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="ブクログは、本の感想や評価をチェックしたり、webやアプリで本棚をかんたんに作成し、 感想やレビューを書いたり、読書の管理・記録をすることできます。">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<title>ブクログ</title>
	<%= csrf_meta_tags %>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>

<!--  header  -->
<header class="header__global-navi clearfix">
	<div class="global-navi__container">
		<div class="global-navi__inner">
			<!--  ブクログ logo  -->
			<div class="global-navi__minilogo">
				<%= link_to image_tag("header_mini_logo.png", class: "global-navi__minilogo--image"), root_path %>
			</div><!--  /.ブクログ logo  -->
		</div><!--  /.global-navi__inner -->
	</div><!--  /.global-navi__container  -->
</header><!--  /.header  -->

<!--  FIXME:命名に問題あり。このviewのためのcssがほぼ新規登録のnew.html.erbと同じになるので、そのコピペで構成されている。
login--とすべき命名がsignup--となっているため、どうすべきか改善の余地あり  -->
<div class="main">
	<div class="main__container">
		<div class="main__inner">
			<h1 id="login" class="taC b40M">ログイン</h1>
			<p class="lead taC">
				ブクログに登録している方は、下記からログインしてください。
				<br>
				まだ登録していない方は
				<%= link_to 'こちらから登録', new_user_registration_path, class: 'here_link' %>
				してください。
			</p>

			<div class="main__inner--signup-area">
				<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
					<%= devise_error_messages! %>
					<p class="text">
						(
						<span class="red">*</span>
						は必須項目です
						)
					</p>

					<table>
						<tbody>
							<tr>
								<th valign="middle">
									<%= f.label :ブクログID %>
									<span class="red">*</span>
								</th>
								<td>
									<em class="list1">( 半角英数小文字: 3〜16文字 )</em>
									<br />
									<%= f.text_field :user_id, autofocus: true, maxlength: '16', placeholder: "ブクログIDを入力", class: "input-area" %>
								</td>
							</tr>

							<tr>
								<th valign="middle">
									<%= f.label :パスワード %>
									<span class="red">*</span>
								</th>
								<td>
									<% if @minimum_password_length %>
									<em class="list1">(半角英数・記号 <%= @minimum_password_length %> 〜 16文字)</em>
									<% end %><br />
									<%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワードを入力", class: "input-area" %>
								</td>
							</tr>
							<tr>
								<th>
									<%= f.label :パスワードの確認 %><br />
								</th>
								<td>
									<%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "再度パスワードを入力してください", class: "input-area" %>
								</td>
							</tr>
						</tbody>
					</table>

						<p class="buttons b10M">
							<%= f.submit "ログイン", class: 'btn__login' %>
						</p>
					<% end %>

					<div class="main__inner--social-login-area">
						<p>または</p>
						<!--  NOTE: リンク先は便宜的にルートパスに  -->
						<ul class="clearfix">
							<li class="li"><%= link_to 'Facebookでログイン', root_path, class: "fb" %></li>
							<li class="li"><%= link_to 'Twitterでログイン', root_path, class: "tw" %></li>
							<li class="li"><%= link_to 'hontoでログイン', root_path, class: "honto" %></li>
						</ul>
					</div><!--  /.main__inner--social-login-area  -->
					<div class="main__inner--signup-link-area">
						<p>アカウントをお持ちでない方はこちら</p>
						<div class="link-btn">
							<%= link_to '新規登録', new_user_registration_path %>
						</div>
					</div>
			</div><!--  /.main__inner--signup-area  -->
		</div><!--  /.main__inner  -->
	</div><!--  /.main__container  -->
</div><!--  /.main  -->

	<!--  footer-mini  -->
	<div id="footer-mini">
	<ul>
		<li class="begin">
			<%= link_to 'ブクログ', root_path, class: "footer-mini_link" %>
		</li>
		<li>
			<%= link_to '新規登録', new_user_registration_path, class: "footer-mini_link" %>
		</li>
		<li>
			<%= link_to 'ブクログについて', root_path, class: "footer-mini_link" %> <!--  仮置き  -->
		</li>
		<li>
			<%= link_to 'お知らせブログ', root_path, class: "footer-mini_link" %> <!--  仮置き  -->
		</li>
		<li>
			<%= link_to '利用規約', root_path, class: "footer-mini_link" %> <!--  仮置き  -->
		</li>
		<li>
			<%= link_to 'プライバシーポリシー', root_path, class: "footer-mini_link" %> <!--  仮置き  -->
		</li>
		<li>
			<%= link_to 'お問い合わせ', root_path, class: "footer-mini_link" %> <!--  仮置き  -->
		</li>
	</ul>
	<address id="mini">Copyright ©︎2019 Booklog,Inc. All Rights Reserved.</address>
	</div><!--  /.footer-mini  -->
</body>
</html>